body {
    background-color: rgb(235, 65, 133);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(209, 199, 150);
    margin: 0;
    text-align: center;
}
img.gloBanner {
    width: 100%;
}
a:link {
    color: rgb(209, 199, 150);
    text-decoration: none;
}
a:visited {
    color: rgb(209, 199, 150);
    text-decoration: none;
}